/****default-theme****/

/*Active link*/
.navbar-inverse .navbar-nav > .active > a, 
.navbar-inverse .navbar-nav > .active > a:hover, 
.navbar-inverse .navbar-nav > .active > a:focus,
.dropdown-menu > li > a:hover, 
.dropdown-menu > li > a:focus,
.carousel-indicators .active,
.option-box .fa-cog,
.scroll-top i
{
	background-color:#E41b17
}

.navbar > .container .navbar-brand span,
.testimonials span,
footer h3,
footer .copy-right span
{
	color:#E41b17
}


.option-box .color-option,
.testimonials .carousel-indicators li.active
{
	border: 3px solid #EA1817
}

.dropdown-menu
{
	border-top:3px solid #E41b17
}
